.mb-2{
    width: 500px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
.darkcolor{
    background-color: blue !important; 
}
.super{ background-color: rgb(7, 105, 137);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: black
;}
.header{position: absolute;;}
.footer{position: fixed;}
.toptext{position: absolute;}
.list{position: absolute;}
