.mb-2{
    width: 500px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
.darkcolor{
    background-color: blue !important; 
}
.super{ 
    background-color: rgba(18, 106, 130, 0.817);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: black
;}
.header{position: absolute;
    background-color: aliceblue;
}
.footer{position: fixed;
font-size: x-large;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
padding: 5px;
background-color: aliceblue;}
.toptext{position: absolute;
text-align: center;}
.list{position: absolute;
font-size: xx-large;}
